# ignore everything
*

# whitelist
!.gitignore
!.venomrc
!docker-compose.yaml
!Dockerfile
!go.mod
!go.sum
!LICENSE.md
!Makefile
!README.md

!*.go
!.gitkeep

!.github/
!.github/**/
!.github/**/*.yaml
!cmd/
!cmd/lantyd/
!database/
!database/migration/
!database/migration/*.sql
!database/testdata/
!database/testdata/*.sql
!docs/
!docs/swagger.yaml
!pkg/
!pkg/**/
!testdata/
!testdata/game/
!testdata/game/blobs/
!testdata/game/blobs/test_blob.bin
!testdata/game/icons/
!testdata/game/icons/test_game_icon.png
!tests/
!tests/**/
!tests/**/*.yml
