# ignore everything
*

# whitelist
!.gitignore
!go.mod
!go.sum
!settings.yaml

!*.md
!*.go

!cmd/
!pkg/
!pkg/api/
!pkg/download/
!pkg/filesystem/
!pkg/game/
!pkg/handler/
!pkg/network/
!pkg/router/
!pkg/setting/
!pkg/user/
